/* Load Fonts */
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* Background */
html, body{
  background-image: url(../images/congruent_outline.png);
  background-repeat: repeat;
  background-color: #333;
}

/* icon fonts */
[class*="entypo-"]:before{
  font-family: 'entypo', sans-serif;
  color: gray;
}
[class*="zocial-"]:before{
  font-family: 'zocial', sans-serif;
  color: gray;
}

/* Basic Reset */
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: 'Helvetica', cursive;
}

#main{
  width: 1200px;
  margin:auto;
  background-image: url(../images/nice_snow.png);
  background-repeat: repeat;
}
#name-header{
  display: flex;
  width: 100%;
  height: 15%;
}
#header{
  display: flex;
  float: right;
}

#about{
  width: 90%;
  height: 80%;
}
#icons{
  margin-top: 20px;
}

ul{
  width: 50%;
  text-align: right;
  color: gray;
}
li {
  display: inline-block
}

#brand{
  width: 10%;
  min-width: 75px;
  text-align: center;
  padding: 10px 20px 0px 0px;
 }

.brand-logo{
  max-width:100%;
  max-height:100%;
}

.brand-subheader{
  color: #45ada8;
  font-weight: bold;
  margin: auto;
  margin-top: 5px;
  font-size: 12px;
}

/*.clear-fix {
  overflow: auto;
}*/
.contact-entry,
.education-entry,
.work-entry,
.project-entry{
  padding: 0 5%;
}
h1{
  font-size: 40px;
  color: #333333;
  line-height: 48px;
  width: 50%;
  font: 100 50px/1.3 'Oleo Script', Helvetica, sans-serif;
}
h2{
  font-weight: bold;
  font-size: 24px;
  color: #333333;
  line-height: 29px;
  font: 100 30px/1.3 'Oleo Script', Helvetica, sans-serif;
}
h3{
  font-size: 18px;
  color: #333333;
}
h4{
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}
h2,
h3,
h4,
h5{
  padding:10px 5%;
}
.date-text{
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}
.location-text{
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}
p{
  font-size: 14px;
  color: #333;
  line-height: 21px;
}
i{
  color: gray;
}
a{
  color: #45ada8;
  text-decoration: none;
}
.title-link{
  margin-top: 10px;
  display: block;
}
.welcome-message{
  font-size: 15px;
  color: black;
}
#skills-header {
  margin-right: 0px;
  width: 18%;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
#skills{
  width: 75%;
  padding-top: 4px;
}
#contact{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
#contact h2{
  width: 100%;
  margin-bottom: 10px;
}
#contact h3{
  padding: 0px;
  color: #45ada8;
  font-family: Helvitica;
}
#contact p{
  font-size: 12px;
}
#gmail {
  display:flex;
  width:100%;
}
#number{
  display:flex;
  width:100%;
  padding-top: 10px;
}
#address,#digits{
  width: 95%;
  color: green;
  font-style: italic;
}
#mail-icon, #mobile-icon{
  width:5%;
  min-width: 30px;
  padding-right: 0%;

}
.green{
  background-color: #45ada8;
}
.gray-text{
  font-weight: bold;
  color: gray;
}
.gray{
  background-color: rgba(200,200,200,0.2);
}
.flex-box{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-item{
  color: black;
  font-size: 14px;
  font-style: italic;
  padding-right: 15px;
}
#skill-box{
}
.center-content{
  padding: 2.5% 5% 0% 5%;
}
.center-text{
  text-align: center;
}
.row{
  padding-bottom: 10px;
}
#map{
  display: block;
  height: 100%;
  margin: 0 5%;
}
#mapDiv{
  height: 300px;
  width: 100%;
  padding-bottom: 5%;
  overflow: hidden;
}

/* Media queries to handle various device widths */
@media only screen and (max-width: 1200px){
  #main{
    width: 100%;
  }
}
@media only screen and (max-width: 1126px){
  #skills-header{
    width: 100%;
    text-align: center;
  }
  #skill-box{
    flex-direction: column;
  }
  #skills{
    justify-content: center;
    width: 100%
  }
}
@media only screen and (max-width: 450px){
  #skills{
    text-align: center;
    flex-direction: column;
  }
}
@media only screen and (max-width: 385px){
  #icons{
    display: none;
  }
}
